{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="container">
        <div class="parent">
            {% for tuple in results %}
            {% with tuple.0 as listing %}

            <a href="{% url 'index' %}{{ listing.user_id }}/{{ listing.id }}" class="card" target="_blank">
            <!-- <div class="card"> -->
                {% if listing.url %}
                    <img src="{{ listing.url }}" class="card-img-top" alt="Listing image">
                {% else %}
                    <img src="https://img.freepik.com/free-photo/simple-product-backdrop-with-shadow_53876-104160.jpg" class="card-img-top" alt="Default image">
                {% endif %}
                <div class="card-body">
                <h6 class="card-price">${{ tuple.1 }}</h6>
                <h5 class="card-title mt-3 mb-0">{{ listing.title }}</h5>
                <p class="card-text mt-0"> {{ listing.description }} </p>
                </div>
                <div class="card-footer">
                    {{ listing.get_category_display }}
                </div>

            </a>
            {% endwith %}
            {% empty %}
                <p>No Listings</p>
            {% endfor %}
        </div>

    </div>
    
{% endblock %}