{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="container">
        {% for listing in listings %}
            <div class="card">
                {% if listing.url %}
                    <img src="{{ listing.url }}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                <h5 class="card-title"> {{ listing.title }}</h5>
                <p class="card-text"> {{ listing.description }} </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ listing.starting_bid }}</li>
                </ul>
                <div class="card-footer">
                    {{ listing.category }}
                </div>
            </div>
        {% empty %}
            <p>No Listings</p>
        {% endfor %}

    </div>
    
{% endblock %}