{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container">
        <div class="row mb-3">
            <div class="col-7">
                {% if listing.url %}
                    <img src="{{ listing.url }}" class="card-img-top listing_img" alt="Listing image">
                {% else %}
                    <img src="https://img.freepik.com/free-photo/simple-product-backdrop-with-shadow_53876-104160.jpg" class="card-img-top" alt="Default image">
                {% endif %}
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <h1 class="mb-0 mt-5 price">
                            ${{ highest_bid }}
                        </h1>
                        <hr>
                        <div class="row">
                            <div class="col-9">
                                <h2 class="mt-0 mb-0 title">
                                    {{ listing.title }}
                                </h2>
                                <a class="user" href="{% url 'index' %}{{ listing.user.username }}">{{ listing.user.username }}</a>
                            </div>
                            <div class="col-3">
                                <h3>
                                </h3>
                            </div>
                        </div>
                        
                    </div>
                    {% if user.is_authenticated %}
                    {% if user in listing.users.all %}
                        <form action="{% url 'watchlist' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="watchlist" value="remove">
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                            <button class="btn btn-watched btn-danger">
                                <i class="bi bi-suit-heart"></i>
                            </button>
                        </form>
                    {% else %}
                        <form action="{% url 'watchlist' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="watchlist" value="add">
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                            <button class="btn btn-watch btn-outline-danger">
                                <i class="bi bi-suit-heart"></i>
                            </button>
                        </form>
                    {% endif %}{% endif %}
                    
                </div>
                <h3 class="mt-4">Bids</h3>

                {% for bid in bids %}
                    <div class="row">
                        <div class="col-6">
                            {{ bid.user.username }}
                        </div>
                        <div class="col-6">
                            <strong>
                                ${{ bid.price }}
                            </strong>
                        </div>
                    </div>
                {% empty %}
                <p>No bids</p>

                {% endfor %}
                
                <div class="row mt-1 mb-3">
                    <div class="col-6">
                        Starting Bid
                    </div>
                    <div class="col-6">
                        <strong>
                            ${{ listing.starting_bid }}
                        </strong>
                    </div>
                </div>

                <form action="{% url 'index' %}{{ listing.user_id }}/{{ listing.id }}" method="post">
                    {% csrf_token %}
                    <label class="form-label" for="id_bid">Enter a bid price</label>
                    <div class="row">
                        <div class="col-8">
                            {{ bid_form.bid }}
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-success">
                                Place Bid
                            </button>
                        </div>
                    </div>
                </form>
            </div>
           
        </div>
        
        <p>Category: {{ listing.get_category_display }}</p>
        

        <h4>Description</h4>
        <p>
            {{ listing.description }}
        </p>


    </div>
    
{% endblock %}