{% extends "web/layout.html" %}



{% block title %}
    Traditionelles Modell Vergleich Schweiz 2025
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="hero">
            <div class="parent">
                <h1>Traditionell - Freie Arztwahl</h1>
                <h2>Traditionelles Modell Vergleich Schweiz 2025</h2>
                <h3>Ganz einfach die günstigste Krankenkasse finden - massgeschneidert für Ihre Bedürfnisse und die Ihrer Familie.</h3>
                <ul>
                    <li>Beste Zusatzversicherung für Ihren Bedarf ermitteln
                    </li>
                    <li>
                        Kostenfrei Vergleichsangebote erhalten
                    </li>
                    <li>
                        Sie wählen Ihre passende Police – ohne unnötigen Aufwand
                    </li>
                    <li>
                        Unkomplizierter Abschluss oder Versicherungswechsel
                    </li>
                </ul>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="id_last_name" class="form-label">Vorname</label>
                            {{ angebot_form.prior_name }}
                        </div>
                        <div class="mb-3 col-4">
                            <label for="id_prior_name" class="form-label">Nachname</label>
                            {{ angebot_form.last_name }}
                        </div>
                        <div class="mb-3 col-4">
                            <label for="id_birthdate" class="form-label">Geburtstag</label>            
                            {{ angebot_form.birthdate }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="id_street" class="form-label">Straße</label>
                            {{ angebot_form.street }}
                        </div>
                        <div class="mb-3 col-4">
                            <label for="id_plz" class="form-label">PLZ</label>
                            {{ angebot_form.plz }}
                        </div>
                        <div class="mb-3 col-4">
                            <label for="id_city" class="form-label">Stadt</label>
                            {{ angebot_form.city }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="id_phone" class="form-label">Telefon</label>
                            {{ angebot_form.phone }}
                        </div>
                        <div class="mb-3 col-6">
                            <label for="id_email" class="form-label">E-Mail</label>
                            {{ angebot_form.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="id_household" class="form-label">Personen im Haushalt</label>
                            {{ angebot_form.household }}
                        </div>
                        <div class="mb-3 col-6">
                            <label for="id_insurance" class="form-label">Aktuelle Krankenkasse</label>
                            {{ angebot_form.insurance }}
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        {{ angebot_form.checkbox }}
                        <label for="id_checkbox" class="form-check-label">Ich akzeptiere die geltenden <a href="/impressum">Datenschutz- und Nutzungsbedingungen</a></label>
                    </div>
        
                    <button class="btn">
                        Vergleich kostenfrei anfordern
                    </button>
                </form>
            </div>
        </div>
    </div>
    
    
{% endblock %}